@charset "utf-8";
/* CSS Document */

*{
    font-family: sans-serif;
    color: #798e94;
}

body {
    background-color: #E2ECEE;
}

.banner {
	width:100%;
	height:auto;
}

.center {
	text-align:center;
}

.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 0px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

.contacto label{
    display: block; /* esto es para que el label se sobreponga a la caja de texto */
    font-size: 12px;
    font-weight: bold;
}

.contacto input[type='text'], .contacto select {
    padding: 7px 6px;
    width: 284px; /* una longitud definida */
    border: 1px solid #CED5D7;
    resize: none; /* esta propiedad es para que el textarea no sea redimensionable */
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.contacto textarea {
    padding: 7px 6px;
    width: 600px; /* una longitud definida */
    border: 1px solid #CED5D7;
    resize: none; /* esta propiedad es para que el textarea no sea redimensionable */
    box-shadow:0 0 0 3px #EEF5F7;
    margin: 5px 0;
}

.contacto input[type='text']:focus, .contacto textarea:focus, .contacto select:focus {
    outline: none; /* reset especifico para Chrome/Safari */
    box-shadow:0 0 0 3px #dde9ec;
}

.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
 
    background: #e4f1f6; /* fallback para navegadores que no soporten degradados */
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}

.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}

.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}

.copyright {
	background:Orange;
	color:#000;
	clear:both;
	padding:10px 0px;
	text-align:center;
	box-shadow: inset 1px 1px 1px rgba(255,255,255,.7), inset -1px -1px 1px rgba(0,0,0,.1), 0px 0px 5px 0px #aaaaaa;
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}

.copyright a {
	text-decoration:none;
	
}

.copyright a:link {
	color:blue;	
}

.copyright a:hover {
	color:magenta;	
}

