@charset "utf-8";
/* CSS Document */

*{
    font-family: sans-serif;
    color: #798e94;
}

body {
	margin:0px;
}

.banner {
	width:100%;
	height:auto;
}

.center {
	text-align:center;
}

.dhtml {
	width:400px;
	margin:auto;
}

.dhtml td {
	vertical-align:top;
	text-align:left;
}

.dhtml td h2 {
	margin:10px;
}

.freloj input {
	width:400px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #3CBC8D;
	color: white;
	font-family:Verdana, Geneva, sans-serif;
	font-size:30pt;
	text-align:center;
}

.copyright {
	background:Orange;
	color:#000;
	clear:both;
	padding:10px 0px;
	text-align:center;
	box-shadow: inset 1px 1px 1px rgba(255,255,255,.7), inset -1px -1px 1px rgba(0,0,0,.1), 0px 0px 5px 0px #aaaaaa;
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}

.copyright a {
	text-decoration:none;
	
}

.copyright a:link {
	color:blue;	
}

.copyright a:hover {
	color:magenta;	
}

