@charset "utf-8";
/* CSS Document */

body {
  font-family: Arial, Helvetica, Sans-serif;
}

.banner {
	width:100%;
	height:auto;
}

.center {
	text-align:center;
}

.galeria td {
	text-align:center;
}

.galeria img {
	width:100%;
	max-width:200px;
	height:auto;
}

.copyright {
	background:Orange;
	color:#000;
	clear:both;
	padding:10px 0px;
	text-align:center;
	box-shadow: inset 1px 1px 1px rgba(255,255,255,.7), inset -1px -1px 1px rgba(0,0,0,.1), 0px 0px 5px 0px #aaaaaa;
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}

.copyright a {
	text-decoration:none;
	
}

.copyright a:link {
	color:blue;	
}

.copyright a:hover {
	color:magenta;	
}

